<div class="nav-bar">
  <ul class="nav-bar-list">
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
      <a href="/about">About Page</a>
    </li>
    <li>
      <a href="/create">Create Page</a>
    </li>
  </ul>
</div>
