<!DOCTYPE html>
<html lang="en">
  <%-include("./layouts/head.ejs") %>
  <body>
    <%-include("./layouts/header.ejs") %> 
    <%- include("./layouts/nav.ejs") %>
    <h1>Page desn't exist...</h1>
    <%- include("./layouts/footer.ejs") %>
  </body>
</html>